<html prefix="og: https://ogp.me/ns#">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>곰탱이의 블로그</title>
<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/803239809933115415/824876948609957888/favicon.png">
<link rel="icon" href="https://cdn.discordapp.com/attachments/803239809933115415/824876948609957888/favicon.png">
<meta property="og:title" content="곰탱이의 블로그" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
<meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />

{% seo %}
