<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>
<body>
  <header class="texture-{{ site.texture.style }}">
    <div class="container">
      {%- include nav.html -%}
    </div>
    {%- include post_header.html -%}  
  </header>
  <main>
    <div class="container">
      <div class="post-container">
          {{ content }}
      </div>
      {%- if site.posts.size > 0 -%}
        <ul class="posts">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%Y년 %m월 %d일" -%}
            <div class="post-meta">
              <a class="post-link" href="{{ post.url | relative_url }}">
                <h2 class="post-title">{{ post.title | escape }}</h2>
              </a>
              <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
            </div>
            <div class="post">
              {%- if site.show_excerpts -%}
              {{ post.excerpt }}
              {%- endif -%}
            </div>
          </li>
          {%- endfor -%}
        </ul>
       {%- endif -%}
       <script src="https://utteranc.es/client.js"
        repo="angrycutebear/myblog"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
   </script>

        <!-- Configure Disqus -->
      {%- if site.texture.disqus_shortname -%}
        <div id="disqus_thread" style="margin-top:25px"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | absolute_url }}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.texture.disqus_shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {%- endif -%}
    </div>
  </main>
  {%- include footer.html -%}
</body>
</html>
